<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><h3>Devaki Kamat</h3>
<h3>1001635004</h3>

<form action="/rdata" method="POST">
State<input type="text" name="state">
<input type="submit" value="submit"><br><br>
</form>

<form action="/data" method="POST">
E code:<input type="text" name="loc">
Year1:<input type="text" name="y1">
Year2:<input type="text" name="y2">
<input type="submit" value="submit"><br><br>
</form>


{#<form action="/barg" method="POST">#}
{#Mag Source:<input type="text" name="mag">#}
{#<input type="submit" value="submit"><br><br>#}
{#</form>#}

<form action="/pieg" method="POST">
year:<input type="text" name="year">
Range1:<input type="text" name="r1">
Range2:<input type="text" name="r2">
Range3:<input type="text" name="r3">
Range4:<input type="text" name="r4">
Range5:<input type="text" name="r5">
Range6:<input type="text" name="r6">
<input type="submit" value="submit"><br><br>
</form>

</form>
</body>
</html>